<%# Code ejs qui génére coté serveur un code html à partir d'un objet data qui contient les events %>

<!-- tab list -->
<ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom" role="tablist">

  <li class="active">
		<a href="#presentation" role="tab" data-toggle="tab">Présentation</a>
	</li>

  <% for (event of events) {%>

  	<li>
  		<a href="#event<%= event.id %>" role="tab" data-toggle="tab"><%= event.title %></a>
  	</li>

  <% } %>

</ul>


<!-- tab content -->
<div class="tab-content">

  <!-- first tab: presentation -->
  <div id="presentation" class="tab-pane  active in">
    <p>module aqh</p>
  </div>

  <!-- tab for all events in BDECalendar -->
  <% for (event of events) {%>

    <div id="event<%= event.id %>" class="tab-pane fade">

      <% if (event.admin) {%>
        <div class="col-md-offset-2 col-md-8">
        	<form class="form-horizontal" method="post">

        		<div class="form-group">
        			<div class="col-md-12">
        				<div class="summernote" id="content<%=event.id%>"></div>
        				<input type="hidden" name="curfcn rent" id="current" value="-1">
        			</div>
        		</div>

        		<div class="form-group">
        			<div class="col-sm-4 col-sm-offset-4">
        				<button class="btn btn-primary btn-block add" id="<%=event.id%>" type="submit">Ajouter</button>
        			</div>
        		</div>

        	</form>
        </div>
      <% } %>


  		<div  class="col-md-offset-2 col-md-8">

          <!-- if there is no posts for this event -->
          <% if (event.posts.length==0) { %>
            <h3>Pas enore de posts pour cet événement</h3>

          <% } %>

          <!-- print all posts in bootstrap media object-->
          <%  for (let i in event.posts) { %>

            <div class="media">
              <div class="media-body">
                <h4 class="mt-0">
                  <tr>
                    <td><p>Post de <%-event.posts[i].author%> le <%-event.posts[i].date%></p></td>
                    <% if (event.admin) { %>
                      <td><button class='btn btn-primary edit' id="<%=event.posts[i].id%>">Editer</button></td>
                      <td><button class='btn btn-danger delete' id="<%=event.posts[i].id%>">Supprimer</button></td>
                    <% } %>
                  </tr>
                </h4>
                <p><%-event.posts[i].content%></p>
              </div>
            </div>


          <%} %>
      </div>
    </div>

  <% } %>

</div>
